@charset "utf-8";
.rodape {
	height: 100px;
	width: 1024px;
	float: left;
	background-color: #FFF;
}
.dir {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	margin-left: 200px;
}

.img {
	float: left;
	height: 100px;
	width: 200px;
	background-color: #3C0;
}
